<h3>Search Books Here!</h3>

<input ng-model='searchEntry'></input>
<button ng-click='getSearchResults()'>SEARCH</button>

<br><br>

<div>
	<div style="display:flex; margin: 10px" ng-repeat= "book in searchBooks">
		<div style="margin: 10px">
			<img ng-src="{{book.best_book[0].image_url[0]}}"/>
		</div>
		<div>
			<h4>{{book.best_book[0].title[0]}}</h4>
			<h5>-{{book.best_book[0].author[0].name[0]}}</h5>
			<span ng-show="book.original_publication_year[0]['_']">Published: {{months[$scope.book.original_publication_month[0]['_']]}} {{book.original_publication_day[0]['_']}} {{book.original_publication_year[0]['_']}}</span><br>
			Add to My Watchlist<br>

			
		</div>
	</div>
</div>
