<h3>Search Books Here!</h3>

<input ng-model='searchEntry'></input>
<button ng-click='getSearchResults()'>SEARCH</button>

<br><br>

<div>
	<div style="display:flex; margin: 10px" ng-repeat= "book in searchBooks">
		<div style="margin: 10px">
			<img ng-src="{{book.best_book.image_url}}"/>
		</div>
		<div>
			<h4>{{book.best_book.title}}</h4>
			<h5>-{{book.best_book.author.name}}</h5>
			<span ng-show="book.original_publication_year['#text']">Published: {{book.original_publication_month["#text"]}} {{book.original_publication_day["#text"]}} {{book.original_publication_year["#text"]}}</span><br>
			Add to My Watchlist<br>

			
		</div>
	</div>
</div>
